body {
  --adm-color-primary: var(--zs-blue-10);
  --adm-color-success: var(--zs-green-2);
  --adm-color-warning: var(--zs-yellow-2);
  --adm-color-danger: var(--zs-red-2);
  --adm-color-white: var(--zs-grey-1);
  --adm-color-text: var(--zs-grey-12);
  --adm-color-text-secondary: var(--zs-grey-10);
  --adm-color-weak: var(--zs-grey-8);
  --adm-color-light: var(--zs-grey-6);
  --adm-color-border: var(--zs-grey-3);
  --adm-color-box: var(--zs-grey-2);
  --adm-color-background: var(--zs-grey-1);
  --adm-font-size-main: var(--text-size-2);
  --adm-font-family: var(--global-font-family);
}
